.bg-trans {
    background-color: rgba(0,0,0,0.51);
    border-radius: 5px;
}

.slide-title{
    color: #FFFFFF;
}

.bg-steel {
    background-color: #64a8d4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);

}

body {
    background: #e2e2e2;
    color: #333333;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #858585;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
}


