{% extends "blog/base.html" %}
{% load plotly_dash %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/plot_height.css' %}">
    <div class="content-section">
        <h3>Sensors Data</h3>
        <p class="text-muted">Data being acquired since June 7 until right now is being tested in the University of Puerto Rico Rio Piedras Campus as a way to test the long term integrity of the system.</p>
        {%plotly_app_bootstrap name="SimpleExample"%}
    </div>
{% endblock content %}