{% extends "blog/base.html" %}
{% block content %}
     <div class="content-section">
        <h2>Aerosol and Cloud Analysis System Sensors</h2>
        <hr/>
        <h4>Aerosol Sensors</h4>
        <p class="text-justify">
            <ul>
                <li><b>CLAP</b>: Measure the light absorption coefficient.</li>
                <li><b>Cloud Condensation Nuclei</b> (CCN): Cloud Condensation Nuclei spectrometer from Droplet Measurements Technologies.</li>
                <li><b>CSS</b>: Aerodyne Aerosol Specification Monitor that measure ion mass.</li>
                <li><b>LIIS</b>: Wideband Integrated Bio-aerosol Spectrometer that detects primarily biological.</li>
                <li><b>DMA</b>: Brechtel Engineering Scanning Electro-Mobility Sizer that provides size distributions.</li>
                <li><b>UV-IFS</b>: Single Particle Soot Photometer (SP2) from DM2 that measures refractory black carbon.</li>
            </ul>
        <hr/>
        <h4>Cloud Sensors</h4>
        <p class="text-justify">
            <ul>
                <li><b>Cloud Droplet Sensor</b> (CDS): DMT backscattering cloud probe (BCP) that produces a droplet size distribution
                    from 5 ~ 75 um.</li>
                <li><b>Liquid Water Content</b> (LWC): Liquid water content is measured with a DMT heated-wire sensors (LWC-300).</li>
                <li><b>Hygrometer</b> (TDLH): The TDLH will be used to measure the water vapor that is produced by measuring the cloud droplets being evaporated in the CVI.</li>
            </ul>
        </p>
     </div>
{% endblock content %}