
{% extends "blog/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
    {% bootstrap_javascript jquery='full' %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Project Request</legend>
                <small class="text-muted">{{"Is required that this request is done by the principal investigator or the person in charge of the project"}}</small>
                {{ form |crispy }}
                {% bootstrap_javascript jquery='full' %}
                {{ form.media }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request</button>
            </div>
        </form>
    </div>
{% endblock content %}