{% extends "blog/base.html" %}
{% block content %}
    {% for project in projects %}
        {% if project.show == True %}
            <article class="media content-section">
    {#            <img class="rounded-circle article-img" src="{{ project.request_by.profile.image.url }}">#}
                <div class="media-body">
                    <div class="article-metadata">
                        Principal Investigator: <a class="mr-2" href="{% url 'project-detail' project.id %}">{{ project.principal_investigator.profile.user.first_name}} {{ project.principal_investigator.last_name }}</a>
                        <small class="text-muted">{{ project.request_date|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'project-detail' project.id %}">{{ project.project_name }}</a></h2>
                    <h4>
                        <p class="article-content">
                        {% if project.active == True %}
                            <span class="badge badge-success">Active</span>
                        {% else %}
                            <span class="badge badge-danger">Not Active</span>
                        {% endif %}
                        </p>
                    </h4>
                    <p class="article-content">{{ project.research_objective }}</p>
                    <p class="article-content">Proposed Start Date: {{ project.project_tentative_start_date }}</p>
    {#                <p class="article-content">{{ project.research_objective }}</p>#}
                </div>
            </article>
        {% endif %}
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}