<footer class="py-3 bg-dark">
    <div class="container px-5">
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="/media/blog_images/noaa-logo.png">
            </div>
            <div class="col">
                <img class="img-fluid" src="/media/blog_images/nsa-logo.png">
            </div>

            <div class="col-7 p-4 text-white text-center">
                <a href="{% url "blog-blog" %}" class="m-0 text-center text-white">News</a> |
                <a href="{% url "blog-about" %}" class="m-0 text-center text-white">About</a> |
                <a href="#about" class="m-0 text-center text-white">ACAS Organizational Chart</a> |
                <a href="#about" class="m-0 text-center text-white">Education & Outreach</a> |
                <a href="{% url "blog-staff" %}" class="m-0 text-center text-white">Staff Directory</a> |
                <a href="#about" class="m-0 text-center text-white">Need Help? </a> |
                <a href="#about" class="m-0 text-center text-white">Contact Us</a>
            </div>
            <div class="col">
                <img class="img-fluid" src="/media/blog_images/uprrp-logo.png">
            </div>
            <div class="col">
                <img class="img-fluid" style="height: 100%; width: 100%" src="/media/blog_images/dmt.svg">
            </div>
        </div>
    </div>
</footer>