{% extends "blog/base.html" %}
{% block content %}
     <div class="content-section">
        <h2>ADAPTS Download</h2>
         <p class="text-justify">
         <hr/>
         Here We can find ADAPTS Downloads. ADAPTS is available for download installers for various platforms. ADAPTS
         Manual can also be found here.
         <hr/>
         <h4>Installers</h4>
         <ul>
            <div class="container">
            <div class="row" style="padding: 5px">
            <div class="col">
            <li>Windows Installer:</li>
            </div>
            <div class="col">
                 <a href="https://www.mediafire.com/file/d8uhjtzuck0upco/ADAPTS-1.0-windows-x64-installer.exe/file">
                     <button class="btn float-right">Download</button>
                 </a>
            </div>
            </div>
            <div class="row" style="padding: 5px">
            <div class="col">
            <li>Linux Installer:</li>
            </div>
            <div class="col">
            <button class="btn float-right" >Download</button>
            </div>
            </div>
            <div class="row" style="padding: 5px">
            <div class="col">
            <li>MAC OS Installer:</li>
            </div>
            <div class="col">
            <button class="btn float-right" >Download</button>
            </div>
            </div>
            </div>
         </ul>
         <hr/>
         <h4>Documentation</h4>
            <div class="container">
            <ul><li><a href="https://docs.google.com/document/d/1iffkPjq91CMTnWwobREdHFRftuYyS4zs/edit">ADAPTS Manual</a></li></ul>
            </div>
         </p>
     </div>
{% endblock content %}