{% extends "blog/base.html" %}
{% block content %}
     <div class="content-section">
        <h2>About ADAPTS</h2>
        <hr/>
         <p class="text-justify">
             The ACAS Data Analysis, Presentation and Training Software (ADAPTS) is a software developed to allow the user of
             the Aerosol and Cloud Analysis System(ACAS) to monitor the sensors attached. ADAPTS have the ability provide real-time displays
             see data being acquired and also plot archive data from the sensors.
         </p>
     </div>
{% endblock content %}